---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p class="intro">
				Hi I'm Jack. I build large scale RecSys and agentic systems for a day job. This blog is a mix of essays about AI, personal research projects, and crisp explanations of hard concepts. All posts are 100% written by me (no clankers).
			</p>
			<ul class="post-list">
				{posts.map((post) => (
					<li class={post.data.category}>
						<div class="post-title">
							<a href={`/blog/${post.id}/`}>{post.data.title}</a>
						</div>
						{post.data.description && (
							<div class="post-desc">{post.data.description}</div>
						)}
						<div class="post-date">
							<FormattedDate date={post.data.pubDate} />
						</div>
					</li>
				))}
			</ul>
		</main>
		<Footer />
	</body>
</html>
